@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    background-color: #1e1e1e;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
.title {
    color: #ff5733;
    font-size: 3em;
    font-weight: bold;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transform-style: flat;
    background-position: center;
    place-self: center;
	background: linear-gradient(90deg, #ff5733, yellow, #ff5733) -100%/ 200%;
	-webkit-background-clip: text;
	        background-clip: text;
	color: transparent;
	animation: shimmer 2s linear infinite;
    overflow: auto;
}

@keyframes shimmer { to { background-position: 100% } }


.subtitle {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.link {
    color: #ffaa00;
    font-size: 1.2em;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
    box-shadow:0 0 10px #5e5e5e;
    background-color: #3e3e3e;
}
